uvicorn[standard]
passlib[bcrypt]
python-jose[cryptography]
fastapi
sqlalchemy
pydantic
pydantic-settings
psycopg2-binary
asyncpg
pytest
pytest-asyncio
aioredis
redis
celery
httpx
alembic
python-json-logger
prometheus-fastapi-instrumentator
jinja2
pytz
email-validator
PyPDF2
reportlab
